@import "../../styles/assets/scss/sass-loader.scss";

.banner {
    :global .banner {
        &__cont {
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 800px;
        }

        &__wrap {
            width: 100%;
            max-width: 721px;
            display: flex;
            justify-content: center;
            margin: auto;
            align-items: center;
            flex-direction: column;
            padding-inline: 1rem;
            margin-block: 109px 202px;
        }

        &__title {
            text-align: center;
            font-size: $fs-6xl;
            font-weight: $fw-semibold;
            line-height: 110%;
            padding-bottom: 1rem;
        }

        &__desc {
            text-align: center;
            padding-bottom: 44px;
            color: $white;
        }

        &__btn {
            background-color: $primary-color;
            padding: 14px 2rem;
            border: none;
            border-radius: 4px;
            color: $white;
            font-size: $fs-lg;
            line-height: 150%;
            font-weight: $fw-semibold;
            cursor: pointer;
        }

        @include smallDesktop {

            &__cont {
                min-height: 650px;
            }

            &__title {
                font-size: $fs-5xl;
                padding-bottom: 1.25rem;
            }

            &__desc {
                padding-bottom: 32px;
            }
        }

        @include tablet {
            &__title {
                font-size: $fs-5xl - 10;
                padding-bottom: 1rem;
            }

            &__cont {
                min-height: 600px;
            }
        }

        @include allMobile {

            &__wrap {
                margin-block: 90px 0;
            }
        }

        @include mobile {

            &__cont {
                min-height: 500px;
            }

            &__wrap {
                margin-block: 48px 20px;
            }

            &__title {
                font-size: $fs-4xl - 5;
                padding-bottom: 1rem;
            }

            &__desc {
                padding-bottom: 26px;
            }
        }
    }
}