@import "../../styles/assets/scss/sass-loader.scss";

.faq {
    :global .faq {
        &__cont {
            width: 100%;
            max-width: 814px;
            margin: auto;
            margin-block: 150px;
            padding-inline: 1rem;
        }

        &__wrap {
            text-align: center;
        }

        &__heading {
            padding-bottom: 12px;
            color: $black;

            span {
                color: $primary-color;
            }
        }

        &__desc {
            color: rgb($black, 80%);
            padding-bottom: 52px;
        }

        &__acc-wrap {
            margin-bottom: 1rem;
            padding: 12px;
            border-radius: 6px;
            border: 0.5px solid #0000001a;
            cursor: pointer;
        }

        &__acc-wrap-var {
            border: none;
            box-shadow: 0px 0px 24px 0px #00000014;
        }

        &__title {
            color: $black;
            font-size: $fs-lg;
        }

        &__subTitle {
            padding-top: 8px;
            color: rgb($black, 80%);
        }

        &__logo {
            width: 100%;
            max-width: 12px;
            display: block;
        }

        &__arrow {
            display: flex;
            justify-content: space-between;
            align-self: center;
        }

        @include smallDesktop {
            &__heading {
                font-size: $fs-4xl + 8;
            }
        }

        @include tablet {
            &__cont {
                margin-block: 70px;
            }
            &__heading {
                font-size: $fs-4xl;
            }
            &__desc {
                padding-bottom: 20px;
            }
        }

        @include mobile {
            &__cont {
                margin-block: 50px;
            }

            &__heading {
                font-size: $fs-3xl;
            }
        }
    }
}
