@import "../../styles/assets/scss/sass-loader.scss";

.score {
    position: relative;
    width: 100%;
    max-width: 1052px;
    margin: 0 auto;

    :global .score {
        &__wrap {
            position: absolute;
            margin-inline: 1rem;
            background-color: $white;
            padding: 27px 69px;
            border-radius: 12px;
            display: flex;
            right: 0;
            left: 0;
            gap: 106px;
            top: -75px;
            box-shadow: 0px 9px 34px 0px #0000001a;
            justify-content: center;
            align-items: center;
        }

        &__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        &__heading {
            color: $secondary-color;
        }

        &__subheading {
            color: rgb($black, 80%);
            padding-bottom: 4px;
        }

        @include smallDesktop {

            &__subheading {
                font-size: $fs-md - 1;
            }
        }

        @include tablet {
            &__wrap {
                gap: 80px;
                padding: 19px 0;
            }

            &__items {
                align-items: flex-start;
            }

            &__heading {
                color: $secondary-color;
                font-size: $fs-4xl + 8;
            }
        }

        @include mobileLandscape {
            &__wrap {
                gap: 50px;
                padding: 20px 0;
            }

            &__items {
                align-items: flex-start;
            }

            &__heading {
                color: $secondary-color;
                font-size: $fs-4xl - 2;
            }

            &__subheading {
                font-size: $fs-md;
            }
        }

        @include mobile {
            &__wrap {
                gap: 20px;
                flex-wrap: wrap;
            }
        }
    }
}