@import "../../styles/assets/scss/sass-loader.scss";

.navbar {
    width: 100%;
    background-image: linear-gradient(180deg,
            rgba(0, 0, 0, 0.51) 0%,
            rgba(0, 0, 0, 0.414375) 48.96%,
            rgba(0, 0, 0, 0) 100%,
            rgba(0, 0, 0, 0) 100%),
        url("/banner_image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;

    :global .navbar {
        &__wrap {
            padding-block: 11px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1172px;
            padding-inline: 1rem;
        }

        &__left {
            display: flex;
            width: 100%;
            max-width: 51px;
            align-items: center;
            position: relative;
        }

        &__title {
            left: 26px;
            font-size: $fs-2xl;
            font-weight: 600;
            position: absolute;
        }

        &__img {
            width: 100%;
            max-width: 51px;
        }

        &__menu {
            display: flex;
            gap: 45px;
        }

        &__links {
            display: flex;
            align-items: center;

            a {
                color: rgb($white, 80%);
                font-size: $fs-lg;
                font-weight: $fw-medium;
                line-height: 150%;
            }
        }

        &__arrow {
            padding: 9px 7px;
        }

        &__btn {
            padding: 14px 2rem;
            border: none;
            background-color: $primary-color;
            border-radius: 4px;
            color: $white;
            font-size: $fs-lg;
            line-height: 150%;
            font-weight: $fw-semibold;
        }

        &__hamburger {
            display: none;
        }

        @include tablet {
            &__menu {
                gap: 24px;

            }

            &__links {
                a {
                    font-size: $fs-lg - 2;
                }
            }

            &__btn {
                font-size: $fs-lg - 2;
            }
        }

        @include allMobile {
            &__hamburger {
                display: block;
                font-size: $fs-2xl;
            }

            &__menu {
                display: none;
            }
        }
    }
}