@import "../../styles/assets/scss/sass-loader.scss";

.copyright {
    :global .copyright {
        &__wrap {
            border-top: 0.5px solid #f8f8f880;
            background-color: $primary-color;
        }

        &__title {
            h4 {
                text-align: center;
                font-size: $fs-md;
                padding-block: 20px;
                color: rgb($white, 80%);
            }
        }
    }
}
