@import "../../styles/assets/scss/sass-loader.scss";

.ourbrands {
    :global .ourbrands {
        &__cont {
            max-width: 1300px;
            width: 100%;
            margin: auto;
            padding-inline: 1rem;
            margin-block: 150px;
        }

        &__wrap {
            background-color: $background-color;
            display: flex;
            gap: 179px;
            padding: 59px 80px;
            border-radius: 32px;
            align-items: center;
            justify-content: center;
        }

        &__content {
            position: relative;
            z-index: 5;

            &::before {
                content: "";
                background-color: #ffffff;
                filter: blur(35px);
                width: 330px;
                height: 144px;
                top: -33px;
                right: 0;
                position: absolute;
                border-radius: 50% / 50%;
            }
        }

        &__title {
            position: relative;
            z-index: 5;
            padding-bottom: 12px;
            color: $black;

            span {
                color: $primary-color;
            }
        }

        &__desc {
            position: relative;
            z-index: 0;
            color: $black;
        }

        &__images {
            width: 100%;
            max-width: 517px;

            &__logo {
                object-fit: cover;
            }
        }

        @include smallDesktop {
            &__wrap {
                gap: 100px;
                padding: 34px 40px;
            }

            &__title {
                font-size: $fs-4xl + 8;
            }
        }

        @include tablet {
            &__cont {
                margin-block: 70px;
            }

            &__wrap {
                flex-direction: column;
                gap: 30px;
                padding: 34px 28px;
            }
            &__content {
                text-align: center;
            }
            &__title {
                font-size: $fs-4xl;
            }
        }

        @include mobile {
            &__cont {
                margin-block: 50px;
            }

            &__wrap {
                gap: 20px;
                padding: 20px;
            }

            &__title {
                font-size: $fs-3xl;
            }
        }
    }
}
