@import "../../styles/assets/scss/sass-loader.scss";

.history {
    :global .history {
        &__wrap {
            width: 100%;
            max-width: 1247px;
            margin-block: 150px;
            display: flex;
            gap: 52px;
            align-items: center;
            padding-inline: 1rem;
        }

        &__left {
            display: flex;
            width: 100%;
            max-width: 590px;
        }

        &__img {
            object-fit: cover;
        }

        &__right {
            width: 100%;
            max-width: 572px;
        }

        &__title {
            color: $black;
            padding-bottom: 12px;

            span {
                color: $primary-color;
            }
        }

        &__subtitle {
            color: rgb($black, 80%);
            padding-bottom: 20px;
        }

        &__desc {
            color: rgb($black, 80%);
            font-family: "Raleway";
        }

        @include smallDesktop {
            &__title {
                font-size: $fs-5xl - 8;
            }
        }

        @include tablet {
            &__wrap {
                margin-block: 100px 50px;
                flex-direction: column;
                gap: 30px;
            }

            &__title {
                font-size: $fs-4xl;
            }

            &__subtitle {
                padding-bottom: 14px;
            }
        }

        @include mobile {
            &__title {
                font-size: $fs-3xl;
            }

            &__subtitle {
                font-size: $fs-lg - 1;
                padding-bottom: 15px;
            }

            &__desc {
                font-size: $fs-lg - 1;
            }
        }
    }
}
