@import "../../styles/assets/scss/sass-loader.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.ourclient {
    :global .ourclient {
        &__cont {
            max-width: 1172px;
            width: 100%;
            margin: 0 auto;
            margin-block: 150px;
            padding-inline: 1rem;
        }

        &__title {
            color: black;
            text-align: center;
            padding-bottom: 52px;
        }

        &__role {
            color: rgba($black, 80%);
        }

        &__wrap {
            width: 100%;
            max-width: 100%;
            border-radius: 16px;
            box-shadow: 0px 0px 24px 0px #00000014;
        }

        &__slide {
            max-width: 677px;
            width: 100%;
            padding: 45px 0;
            margin: 0 auto;
        }

        &__content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            padding-inline: 1rem;

            &::before {
                position: absolute;
                content: "";
                background-image: url("/vector_client.svg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 40px;
                height: 36px;
                top: 175px;
            }
        }

        &__logo {
            max-width: 102px;
            width: 100%;
            margin: auto;
            margin-bottom: 1rem;
        }

        &__img {
            object-fit: cover;
        }

        &__review {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }

        &__star {
            width: 100%;
            max-width: 75px;
            padding-bottom: 24px;
        }

        &__desc {
            text-align: center;
            color: rgb($black, 80%);
            padding-inline: 5px;
            padding-bottom: 24px;
        }

        &__demo {
            & .slick-dots {
                position: unset;

                li {
                    margin: 0;
                }

                & ::before {
                    font-size: 14px;
                }

                & .slick-active {
                    margin: 0 1.5px;

                    & ::before {
                        color: #114b9f;
                        opacity: 1;
                        font-size: 14px;
                    }
                }
            }
        }

        // Responsive

        @include smallDesktop {
            &__title {
                font-size: $fs-5xl - 8;
                padding-bottom: 30px;
            }
        }
        @include tablet {
            &__cont {
                margin-block: 70px;
            }

            &__title {
                font-size: $fs-4xl;
                padding-bottom: 1rem;
            }

            &__slide {
                padding: 30px 0;
            }
        }

        @include allMobile {
            &__name {
                font-size: $fs-2xl;
            }

            &__desc {
                padding-bottom: 10px;
            }
        }

        @include mobile {
            &__cont {
                margin-block: 50px;
            }

            &__title {
                font-size: $fs-3xl;
            }

            &__slide {
                padding: 25px 0;
            }

            &__content {
                &::before {
                    width: 34px;
                    height: 30px;
                    top: 130px;
                }
            }

            &__demo {
                & .slick-dots {
                    & ::before {
                        font-size: 10px;
                    }
                }
            }

            &__name {
                font-size: $fs-xl;
            }

            &__desc {
                font-size: $fs-md;
            }

            &__logo {
                max-width: 70px;
            }
        }
    }
}
