@import "../../styles/assets/scss/sass-loader.scss";

.topNavbar {
    width: 100%;
    background-color: $primary-color;

    :global .topNavbar {
        &__wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 32px;
        }

        &__links {
            padding-block: 6px;

            a {
                font-size: $fs-sm;
                line-height: 155%;
                display: inline-block;
                color: $white;
                font-weight: $fw-regular;
            }
        }
    }
}
