@import "../../styles/assets/scss/sass-loader.scss";

.topNavbar {
    width: 100%;
    background-color: $primary-color;

    :global .topNavbar {
        &__cont {
            width: 100%;
            max-width: 1172px;
            padding-inline: 1rem;
            margin: auto;
        }

        &__wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 32px;
        }

        &__links {
            padding-block: 6px;

            a {
                font-size: $fs-sm;
                line-height: 155%;
                display: inline-block;
                color: $white;
                font-weight: $fw-regular;
            }
        }

        @include mobile {
            &__wrap {
                flex-wrap: wrap;
                gap: 16px;
                justify-content: center;
            }

            &__links {
                a {
                    font-size: $fs-sm - 1;
                }
            }
        }
    }
}
