@import "../../styles/assets/scss/sass-loader.scss";

.score {
    position: relative;
    width: 100%;
    max-width: 1052px;
    margin: 0 auto;

    :global .score {
        &__demo {
            padding-inline: 1rem;
            position: absolute;
            right: 0;
            left: 0;
            top: -75px;
        }

        &__cont {
            width: 100%;
            margin-inline: auto;
            background-color: $white;
            box-shadow: 0px 9px 34px 0px #0000001a;
            border-radius: 12px;
        }

        &__wrap {
            gap: 106px;
            width: 100%;
            max-width: 873px;
            padding-inline: 1rem;
            padding-block: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        &__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        &__heading {
            color: $secondary-color;
        }

        &__subheading {
            color: rgb($black, 80%);
            padding-bottom: 4px;
        }

        @include smallDesktop {
            &__demo {
                top: -53px;
            }

            &__wrap {
                gap: 75px;
                padding-block: 18px;
            }

            &__heading {
                font-size: $fs-4xl + 8;
            }
        }

        @include tablet {
            &__heading {
                font-size: $fs-4xl;
            }

            &__subheading {
                text-align: center;
                font-size: $fs-md;
            }
        }

        @include allMobile {
            &__wrap {
                gap: 30px;
                padding-block: 10px;
            }
            
            &__items {
               gap: 4px;
            } 

            &__banner {
                padding: 13px 1.25rem;
                font-size: $fs-md;
            }
        }
        
        @include mobile {
            &__wrap {
                gap: 16px;
            }
            &__heading {
                font-size: $fs-3xl;
            }

            &__subheading {
                font-size: $fs-sm;
                padding-bottom: 0;
            }
        }
    }
}
