@import "../../styles/assets/scss/sass-loader.scss";

.footer {
    background-color: $primary-color;

    :global .footer {
        &__cont {
            max-width: 1140px;
            margin: auto;
            padding-inline: 1rem;
        }

        &__wrap {
            width: 100%;
            padding-block: 83px;
            display: flex;
            gap: 223px;
        }

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__logo {
            position: relative;
        }

        &__img {
            max-width: 51px;
            width: 100%;
            padding-bottom: 10px;
        }

        &__logo-text {
            left: 30px;
            bottom: 32px;
            font-size: $fs-2xl;
            font-weight: 600;
            position: absolute;
        }

        &__title {
            color: $white;
        }

        &__subtitle {
            color: $white;
            padding-bottom: 2px;
            line-height: 155%;
        }

        &__desc {
            display: inline-block;
            color: $white;
            width: 100%;
            max-width: 192px;
            font-size: $fs-md;
            padding-bottom: 1rem;
            line-height: 155%;
        }

        &__media {
            display: flex;
            gap: 16px;
        }

        &__media-wrap {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #3b5998;
            padding: 5px;
            display: flex;
            cursor: pointer;
        }

        &__media-logo {
            object-fit: contain;
        }

        &__heading {
            color: $white;
            font-size: $fs-lg;
            padding-bottom: 12px;
        }

        &__menus {
            display: flex;
            gap: 62px;
            flex-wrap: wrap;
        }

        &__links-wrap {
            padding-bottom: 6px;
        }

        &__links {
            color: $white;
            font-size: $fs-md;
            opacity: 70%;
        }

        @include smallDesktop {
            &__wrap {
                padding-block: 60px;
                gap: 150px;
            }
        }

        @include tablet {
            &__wrap {
                padding-block: 50px;
                gap: 135px;
            }

            &__menus {
                gap: 45px;
            }
        }

        @include allMobile {
            &__wrap {
                gap: 85px;
                flex-direction: column;
            }

            &__menus {
                gap: 78px;
            }

            &__title {
                font-size: $fs-2xl - 2;
            }
        }

        @include mobile {
            &__wrap {
                gap: 57px;
            }

            &__menus {
                display: grid;
                grid-template-columns: repeat(2,auto);
                grid-gap: 20px;
            }

            &__logo-text {
                font-size: $fs-2xl - 2;
            }
        }
    }
}
