@font-face {
  font-family: "Raleway";
  src: url("../../font/Raleway-Regular.ttf") format("woff2");
  
  font-style: normal;
}

@font-face {
  font-family: "Raleway-lg";
  src: url("../../font/Raleway-Medium.ttf") format("woff2");

  font-style: normal;
}

@font-face {
  font-family: "Raleway-base";
  src: url("../../font/Raleway-Light.ttf") format("woff2");

  font-style: normal;
}
